{% extends 'base.html.twig' %}

{% block title %}AboutMe!{% endblock %}

{% block body %}
  <div class="text-center"></br><img src="{{ asset('build/images/logo.png') }}" class="img-fluid" alt=""/>
</div>
</br>
<div class="text-center">
<h1>
  {{ aboutMe.function }}
</h1 >
<h4>
  {{ aboutMe.title }}
</h4>
<p>
  {{ aboutMe.email }}
</p>
<p>
  {#{ aboutMe.githubLink }#}
</p>
<p>
  <img src="{{ aboutMe.avatar }}" class="img-fluid" alt=""/>
</p>
</div>
<div class="text-left">
<p>
  {{ aboutMe.description|raw }}
</p>
</div>
{% endblock %}
